@{
    ViewBag.Title = "关于我们";
}
<div>
    <img class="img-circle" src="~/Images/show_about.jpg" />
</div>

<h4>
    <div>
        <hr />
        <br />
        我们开发车辆租赁管理系统的总体目标是：<br />
        在计算机网络，数据库和先进的开发平台上，利用现有的软件，配置一定的硬件，
        分析和设计一个具有开放体系结构的、易扩充的、易维护的、具有良好人机交互界面的车辆租赁管理系统，
        为决策者和管理者提供充足的信息、快捷的查询和有效的管理方式，减少不必要的损失和浪费，提高车辆租赁管理的效率。
        <br />
    </div>
</h4>
        