@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>LUT--车辆租赁管理系统</h1>
        <p class="lead">
            我们开发车辆租赁管理系统的总体目标是：在计算机网络，数据库和先进的开发平台上，利用现有的软件，配置一定的硬件，
            分析和设计一个具有开放体系结构的、易扩充的、易维护的、具有良好人机交互界面的车辆租赁管理系统，
            为决策者和管理者提供充足的信息、快捷的查询和有效的管理方式，减少不必要的损失和浪费，提高车辆租赁管理的效率。
        </p>

    </div>*@
<style type="text/css">
    .iw_poi_title {
        color: #CC5522;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        padding-right: 13px;
        white-space: nowrap
    }

    .iw_poi_content {
        font: 12px arial,sans-serif;
        overflow: visible;
        padding-top: 4px;
        white-space: -moz-pre-wrap;
        word-wrap: break-word
    }

    .img-slef-change img {
        width: 1110px;
        height: 300px;
    }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="container">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="img-slef-change"><img src="~/Images/banner_parking.jpg" alt="..." /></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="img-slef-change"><img src="~/Images/banner_parking2.jpg" alt="..." /></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="img-slef-change"><img src="~/Images/banner_parking3.jpg" alt="..." /></div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="col-xs-12 col-md-12">
    <div align="center">
        <img src="~/Images/show_car.jpg" />
        <img src="~/Images/show_main.jpg" />
    </div>
</div>

@* 展示1.0 *@
@*<div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car1.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car2.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car3.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car4.jpg" alt="..." />
            </a>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-rounded" src="~/Images/CarShow/car9.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-rounded" src="~/Images/CarShow/car10.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-rounded" src="~/Images/CarShow/car5.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-rounded" src="~/Images/CarShow/car8.jpg" alt="..." />
            </a>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car11.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car6.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car7.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-circle" src="~/Images/CarShow/car12.jpg" alt="..." />
            </a>
        </div>
    </div>
*@

@* 展示2.0 *@
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car1.jpg" alt="...">
            <div class="caption">
                <h3>宝马550</h3>
                <p>日租金￥330.5</p>
                <p><a href="/Cars?CarName=宝马550" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car2.jpg" alt="...">
            <div class="caption">
                <h3>宾利飞驰</h3>
                <p>日租金￥230.5</p>
                <p><a href="/Cars?CarName=宾利飞驰" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car3.jpg" alt="...">
            <div class="caption">
                <h3>劳斯莱斯幻影</h3>
                <p>日租金￥470.5</p>
                <p><a href="/Cars?CarName=劳斯莱斯幻影" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car4.jpg" alt="...">
            <div class="caption">
                <h3>捍马H2</h3>
                <p>日租金￥210.5</p>
                <p><a href="/Cars?CarName=捍马H2" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car5.jpg" alt="...">
            <div class="caption">
                <h3>玛莎拉蒂</h3>
                <p>日租金￥220.5</p>
                <br />
                <p><a href="/Cars?CarName=玛莎拉蒂" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car6.jpg" alt="...">
            <div class="caption">
                <h3>保时捷-Panamera</h3>
                <p>日租金￥130.5</p>
                <br />
                <p><a href="/Cars?CarName=保时捷-Panamera" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car7.jpg" alt="...">
            <div class="caption">
                <h3>奥迪-A8L</h3>
                <p>日租金￥39.9</p>
                <p><a href="/Cars?CarName=奥迪-A8L" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car8.jpg" alt="...">
            <div class="caption">
                <h3>特斯拉</h3>
                <p>日租金￥250.99</p>
                <p><a href="/Cars?CarName=特斯拉" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car9.jpg" alt="...">
            <div class="caption">
                <h3>凯迪拉克</h3>
                <p>日租金￥290.5</p>
                <br />
                <p><a href="/Cars?CarName=凯迪拉克" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car10.jpg" alt="...">
            <div class="caption">
                <h3>兰博基尼</h3>
                <p>日租金￥830</p>
                <br />
                <p><a href="/Cars?CarName=兰博基尼" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car11.jpg" alt="...">
            <div class="caption">
                <h3>雷克萨斯</h3>
                <p>日租金￥730.5</p>
                <p><a href="/Cars?CarName=雷克萨斯" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/CarShow/car12.jpg" alt="...">
            <div class="caption">
                <h3>上海大众</h3>
                <p>日租金￥520.5</p>
                <p><a href="/Cars?CarName=上海大众" class="btn btn-primary" role="button">租车</a> <a href="/Cars" class="btn btn-default" role="button">详情</a></p>
            </div>
        </div>
    </div>
</div>


<div align="center">
    <div class="col-xs-12 col-md-12">
        <img src="~/Images/show_us.jpg" />
    </div>
</div>


<div align="center">
    <!--百度地图容器-->
    <div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>

</div>

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(103.743719, 36.061637);//定义一个中心点坐标
        map.centerAndZoom(point, 17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{ title: "我的标记", content: "软工-coffee开发组", point: "103.744528|36.059273", isOpen: 0, icon: { w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5 } }
    ];
    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, { icon: iconImg });
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                })
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                })
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }
    //创建一个Icon
    //function createIcon(json) {
    //    var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), { imageOffset: new BMap.Size(-json.l, -json.t), infoWindowOffset: new BMap.Size(json.lb + 5, 1), offset: new BMap.Size(json.x, json.h) })
    //    return icon;
    //}

    initMap();//创建和初始化地图
</script>